npm-debug.log
yarn-debug.log*
yarn-error.log*

dist
.idea/
.vscode/
node_modules/
coverage
build/
temp/
temp/*
tmp/*
!tmp/.gitkeep
!tmp/avatar/.gitkeep
!tmp/cars/.gitkeep
.env
ormconfig.json

.env.local
.DS_Store
